<h1>Receiver added successfully</h1>
<p class="mt-5">
    The receiver was added to the database, it will be listed on the site as soon as we have collected all the required
    information to display it.
</p>
<a href="/">Return to the homepage</a>