<!DOCTYPE html>
<HTML>
    <HEAD>
        <title>Receiverbook</title>
        <link rel="stylesheet" href="static/css/bootstrap.min.css" />
        <script src="static/js/jquery-3.5.1.min.js"></script>
        <script src="static/js/bootstrap.min.js"></script>
    </HEAD>
    <BODY>
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
            <div class="navbar-brand mr-auto">
                <a href="https://www.receiverbook.de">
                    Receiverbook
                </a>
            </div>
            <div class="navbar-nav">
                <%if (typeof(session) === 'undefined') { %>
                    <a href="/session/login">Login / Register</a>
                <% } else { %>
                    <div class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="profileDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <%= session.username %>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="profileDropdown">
                            <a class="dropdown-item">My profile</a>
                            <a class="dropdown-item">My receivers</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/session/logout">Logout</a>
                        </div>
                    <div>
                <% } %>
            </div>
        </nav>
        <div class="container">
            <%- body %>
        </div>
    </BODY>
</HTML>