<!DOCTYPE html>
<HTML>
    <HEAD>
        <title>Receiverbook</title>
        <link rel="stylesheet" href="static/css/bootstrap.min.css" />
    </HEAD>
    <BODY>
        <%- body %>
    </BODY>
</HTML>