<h1><%= receiver.label %></h1>
<% if (receiver.type === 'openwebrx' && receiver.hasVersion('0.19.1')) { %>
    <div class="mt-5">
        <h3>Receiver key</h3>
        <div>
            Please add the following line to your <pre style="display:inline;">config_webrx.py</pre>:
        <div>
<pre class="block mt-2">
receiver_keys += "<%=receiver.key %>"
</pre>
        <div class="alert alert-warning">
            <div>
                Please keep your receiver key secret. Anybody who obtains your receiver key can take over your
                receiver listings.
            </div>
            <div>
                You can regenerate your receiver key with the button below in case it has been compromised:
            </div>
            <div class="actions mt-2">
                <a class="btn btn-primary" href="/my/receivers/<%= receiver.id %>/regenerate_key">
                    Generate a new receiver key
                </a>
            </div>
        </div>
    </div>
<% } %>
<hr>
<div class="alert alert-danger">
    You can remove your receiver listing from this site by pressing the following button:
    <div class="actions mt-2">
        <button class="btn btn-primary" data-toggle="modal" data-target="#deleteModal">Delete receiver</a>
    </div>
</div>
<div class="modal" id="deleteModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5>Please confirm</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Please confirm that you would really like to delete this receiver</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <a type="button" class="btn btn-danger" href="/my/receivers/<%= receiver.id %>/delete">Delete</a>
            </div>
        </div>
    </div>
</div>
