<h1>Add a new receiver</h1>
<form class="mt-5" method="POST">
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" name="name" id="name">
    </div>
    <div class="form-group">
        <label for="url">URL</label>
        <input type="url" class="form-control" name="url" id="url">
    </div>
    <div class="actions col-3">
        <button type="submit" class="btn btn-primary">Submit new receiver...</div>
    </div>
<form>