<% if (typeof(errors) !== 'undefined') {
    errors.forEach((error) => { %>
        <div class="alert alert-danger">
            <%= error %>
        </div>
    <% });
} %>
<h1>Add a new receiver</h1>
<form class="mt-5 row" method="POST">
    <div class="form-group col-9 row mb-0">
        <label for="url" class="col-3 col-form-label">URL</label>
        <input type="url" class="col-9 form-control" name="url" id="url">
    </div>
    <div class="actions col-3">
        <button type="submit" class="btn btn-primary">Submit new receiver...</button>
    </div>
<form>
<%- contentFor('title') %>
add new receiver