<h1>My Stations</h1>
<p class="mt-5">
    Stations allow you to group multiple receivers into a single entry in the receiver list and map. This allows your
    station to have a uniform appearance in the list, even if you are running multiple receivers or different kinds of
    receiver software. Since stations will appear as a single pin on the map, all receivers in a station should be in
    close geographical proximity to each other..
</p>
<% if (stations.length) { %>
    <table class="table">
        <tr>
            <th>Name</th>
        </tr>
        <% stations.forEach((station) => { %>
            <tr>
                <td><a href="/my/stations/<%= station.id %>"><%= station.label ? station.label : 'Unnamed station' %></a></td>
            </tr>
        <% }); %>
    </table>
<% } else { %>
    <p>
        You can get started by creating your first station below:
    </p>
<% } %>
<div class="actions">
    <a class="btn btn-primary" href="/my/stations/new">Add a new station</a>
</div>
<%- contentFor('title') %>
My stations