.actions .btn {
    width: 100%;
}

pre {
	background-color: rgba(200, 200, 200, 0.25);
}

pre.block {
	padding: 10px;
	border-radius: 5px;
}

.inline-code {
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
	background-color: rgba(200, 200, 200, 0.25);
}

hr {
    background-color: gray;
}

a.btn {
    text-decoration: none;
}

.twitter-button iframe {
    vertical-align: middle;
}

.receiver-list .list-group-item {
    background-color: initial;

    display: flex;
    flex-direction: row;
}

.receiver-list .receiver-image {
    flex: 0 0 50px;
    margin-right: 0.75rem;
}

@media(min-width: 576px) {
    .receiver-list .receiver-image {
        flex-basis: 75px;
    }
}

@media(min-width: 768px) {
    .receiver-list .receiver-image {
        flex-basis: 100px;
    }
}

.receiver-list .receiver-image img {
    width: 100%;
    background-color: rgba(154, 154, 154, .5);
    border-radius: 10px;
    padding: 5px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    max-height: 100%;
}

.receiver-list .receiver-details {
    flex: 1;
}

.receiver-list.list-group-flush > .list-group-item:last-child {
    border-bottom-width: 1px;
}

.receiver-list.list-group-flush > .list-group-item:first-child {
    border-top-width: 1px;
}

.stationreceiverlist {
    list-style-type: none;
    padding: 0;
}

.stationreceiverlist li {
    margin-top: 1rem;
}

.stationreceiverlist li:first-child {
    margin-top: 0;
}

.receiverbands {
    display: none;
}

.bandtag {
    cursor: pointer;
}

.bandtag-hamradio {
    background-color: #34dba3;
}

.bandtag-broadcast {
    background-color: #dba934;
}

.bandtag-public {
    background-color: #db3463;
}

.tooltip ul {
    list-style-type: none;
    padding: .2em;
    margin: 0;
}

@media(min-width: 768px) {
    .receiverbands {
        display: block;
    }
}

.btn-xs {
    padding: 0 0.25rem;
}

.menu-button {
    vertical-align: text-bottom;
}

.receiver-list .list-group-item .menu-button {
    display: none;
}

.receiver-list .list-group-item:hover .menu-button {
    display: inline;
}

.receiver-details-headline {
    display: flex;
    flex-direction: row;
}

.receiver-details-headline * {
    flex: 0 0 auto;
}

.receiver-details-headline h5 {
    max-width: 100%;
}

.pagination {
    margin: 1rem auto 0;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px; /* Margin bottom by footer height */
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  text-align: center;
  overflow: hidden;
}

.footer .center {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  width: 100%;
}

/* Layout modifications for the map page
-------------------------------------------------- */

html.map body {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
}

html.map {
    height: 100%;
}

html.map nav,
html.map .footer {
    flex: none;
}

html.map .content-container {
    flex: 1 1 auto;
    max-width: initial;
    margin: 0 !important;
    padding: 0;
    color: black;
}

html.map .map-container {
    width: 100%;
    height: 100%;
}

html.map .footer {
    position: relative;
}

/* don't show the filter in it's initial position */
html.map .receiverfilter {
    display: none;
    background-color: #fff;
    padding: 10px;
    margin: 10px;
}

/* show it as soon as google maps has moved it to its container */
html.map .map-container .receiverfilter {
    display: block;
}

/* Map layouts
-------------------------------------------------- */

.infobox {
    text-align: center;
}

/* Station style
-------------------------------------------------- */

.station-list {
    list-style-type: none;
}

.station-list li {
    margin-bottom: .5em;
}
